* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.form {
    width: 900px;
    height: 560px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.left {
    width: 500px;
    height: 560px;
}

.left video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 400px;
    height: 560px;
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-con {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #70b4e3;
    font-weight: 400;
    padding-bottom: 10px;
}

h3 {
    font-size: 12px;
    font-weight: 400;
    color: #70b4e3;
    padding: 20px 0;

}

.text {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #70b4e3;
    color: #366ae6;
    background: rgba(0, 0, 0, 0);
}

.btn {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    background-image: linear-gradient(120deg, #76daec 0%, #c5a8de 100%);
}

.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}